* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    height: 100px;
    float: left;
    padding: 20px;
}

.item1 {
    width: 30%;
    background-color: tomato;
}

.item2 {
    width: 70%;
    background-color: blue;
}