@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    padding:0px;
    margin: 0px;
}

/* Top Bar language */

.languagebar {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    max-width: 1250px;
    margin: auto;
    padding: 10px;
    color: gray;
    font-size: 15px;
}

.languagebar .left .ground {
    padding-right: 5px;
    border-right: 1px solid lightgray;
}

.languagebar .left .download, .languagebar .left .download a {
    margin-left: 5px;
}

.left    {
    display: flex;
}

/* Ulanbek Top Search Bar STARTS here */

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: auto;
    height: 100px;
}

.search .logo h1 {
    margin: 0;
}

.categories input {
    width:350px;
    height: 50px;
    margin-left: 0;
    padding: 10px;
}
.categories select {
    height: 50px;
    width: 150px;
    padding: 10px;
}
   .phone .fas {
       color: red;
       font-size: large;
       text-decoration: none;
   }
   
   .phone a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

/* Ulanbek Top Search Bar ENDS here */

/* Navbar - Azamat's part STARTS here */
.top-navbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d2224 !important;
    min-height: 65px;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.top-navbars {
    text-transform: uppercase;
}

.top-navbars>ul>li:first-child>.top-navbar-anchors {
    background-color: #FF324D;
    padding: 20px 30px 20px 10px;
    font-size: 18px;
}

.top-navbars>ul>li:first-child>a:hover {
    color: white;
}

.top-navbars>ul>li:nth-child(2) {
    margin-left: 25px;
}

.top-navbar-anchors .fa {
    margin-right: 15px;
}

.top-navbars ul, .top-navbar-icons ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.top-navbar-anchors {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.top-navbar-icons ul li a .fa {
    font-size: 22px;
}

.top-navbar-anchors:hover {
    color: #FF324D;
}

.top-navbars ul li {
    position: relative;
}

.top-navbars ul li ul {
    display: none;
    position: absolute;
    background-color: #424B4F;
    padding: 10px;
    border-radius: 0 0 6px 6px;
}

.top-navbars ul li:hover ul {
    display: block;
}

.top-navbars ul li ul li {
    margin: 10px 60px 10px 10px;
    width: 140px;
    text-align: left;
}

.top-navbar-inner-anchors {
    color: white;
    text-decoration: none;
    width: 100%;
}

.top-navbar-inner-anchors:hover {
    color: #FF324D;
}

/* Navbar - Azamat's part ENDS here */

.all-categories {
    /* background-color: ; */
    color: white;
    width: 160px;
    height: 30px;
    border: 1px solid black;
    padding: 20px;
    
}
.main-containter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 80%;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

/* ++++++++++++++++++++++++++ Max */
.categories .dropdown .dropdown-menu.nested ul:nth-child(1)  {
    padding: 0;
}


.categories .dropdown .dropdown-menu.nested  {
    left: 33.6em;
    position: absolute;
    box-shadow: 1px 40px 10.5px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
    background-color: white;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
/*    display: none; */
}
.categories .dropdown:hover > .dropdown-menu.nested,
.dropdown-menu.nested:hover {
    display: flex;
    opacity: 1;
    visibility: visible; 
}
.nested .nested-image2 {
    width: 190px;
}
.nested .nested-image2 img {
    width: 100%;
    height: 100%;
}
.nested .nested-image {
    width: 160px;
}
.nested .nested-image img {
    width: 93%;
    margin: 5px 8px;
}

.nested {
    padding: 20px 10px;
}
.categories a {
    text-decoration: none;
    color: #53575c;
}
.categories a:hover {
    color: red;
}



.dropdown-menu li {
    padding: 10px;
    list-style: none;
    color: black;
}

.dropdown-header {
    font-size: large;
    font-weight: 800;
}
.dropdown i {
    margin-right: 10px;
}
/* friday 31 */

.upper-section .categories {
    width: 300px;
    margin-right: 0;
    box-shadow: 2px 5px 11px rgba(0,0,0,0.1);
    padding-left: 0px;
}
   /* .dropdown.dropdown-mega-menu {
        position: relative;
    } */
    .upper-section .categories a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .upper-section .categories .dropdown.more {
        border-top: 1.2px solid #DDDDDD;
        color: red;
        letter-spacing: 1.2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }




nav {
    max-width: 1250px;    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.upper-carousel {
    height: 450px;
    align-self: flex-end;
    position: relative;
    z-index: 0;
}
.upper-carousel .item {
    text-align: center;
}
.upper-carousel .shop-now {
    position: absolute;
    top: 70px;
    left: 90px;
}    
.upper-carousel .square-icons {
    position: absolute;
    bottom: 45px;
    left: 40%;
}
.upper-carousel i {
    padding: 2.3px;
    border: 2.2px solid #859499;
    margin: 2px;
    color: #859499;
    cursor: pointer;
}
.upper-carousel i:hover {
    color: #FF334E;
    border-color: #FF334E;
}


.upper-carousel .shop-now h1 {
    font-size: 3em;
    font-weight: 900;
}
.upper-carousel .shop-now button {
    background-color: #FF334E;
    color: white;
    border: none;
    padding: 15px 35px;
    transition: 0.5s;
}
.upper-carousel .shop-now button:hover {
    background-color: transparent;
    border: 1px solid #FF334E;
    color: #FF334E;
}


.upper-carousel img {
    width: 85%;
}
.dropdown-menu {
    margin-top: 0;
}


/* Middle Section (Max working) */

.middle-section {
    
    max-width: 1250px;
    
    margin: auto;
}
.exclusive, .carousel, .exclusive > .exclusive-menu {
    display: flex;
    
}
.exclusive {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    margin: auto;
    margin-bottom: 30px;
}
.exclusive .exclusive-menu a {
        margin: 0 15px;
        text-decoration: none;
        color: #1D2224;
        font-weight: 600;
    }
    .exclusive .exclusive-menu a:focus {
        color: #FF324D;
    }
    .exclusive h1 {
        font-size: xx-large;
    }
    .carousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carousel .previous, .carousel .next {
        align-self: center; 
    }
    .carousel .select {
        width: 250px;
        box-shadow: 0 0 11px rgba(0,0,0,0.1);
        background-color: #faf9f9;
        margin: 20px;
        position: relative;
    }
        .carousel .select .new {
            font-size: small;
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #FF9F00;
            color: white;
            padding: 2px 10px;
            border-radius: 1.2px;
        }


        .select .info {
            padding: 10px;
        }
        .select .info div {
            margin: 7px 0;
        }
        .select .info h4 {
            margin: 0;
        }
        .select .info .price {
            color: red;
            font-weight: bolder;
        }
        .select .info .old-price {
            text-decoration: line-through;
            color: rgb(128, 128, 128);
        }
        .select .info .off {
            color: rgb(29, 185, 29);
        }

        .select .info .select-price {
            display: flex;
        }
        .select .info .select-price div {
            margin: 0 5px;
        }
        .select .info .rating .checked {
            color: gold;
        }
        .select .info .rating span {
            color: #8F95A7;
        }
        .select .info .rating span {
            cursor: pointer;
        }

    /*  select cart section */
        .middle-section .carousel .select .cart {
            position: absolute;
            top: 8.5em;
            width: 100%;
            text-align: center;
            padding-top: 2em;
            transition: all 0.3s ease-in-out;
        }
        .middle-section .carousel .select .cart a {
            opacity: 0;
            padding-top: 1em;
            background-color: rgb(248, 248, 248);
            padding: 8px 10px;
            margin: 0 5px;
            color: rgb(31, 31, 31);
            border: 1px solid #ebeaea; 
        }
        .middle-section .carousel .select .cart a:nth-child(1) {
            transition: all 0.1s ease-in-out;

        }
        .middle-section .carousel .select .cart a:nth-child(2) {
            transition: all 0.3s ease-in-out;
        }
        .middle-section .carousel .select .cart a:nth-child(3) {
            transition: all 0.5s ease-in-out;
        }
        .middle-section .carousel .select .cart a:nth-child(4) {
            transition: all 0.6s ease-in-out;
        }

    .carousel .select:hover .cart a {
        opacity: 1;
    }
    .carousel .select .cart a:hover {
        color: white;
        background-color: rgb(233, 77, 50);
        border: 0;
    }
    .carousel .select:hover .cart {
        padding-top: 0em;
    }

    .carousel .select:hover img {
        opacity: 0.6;
    }
    .select  img {
        width: 100%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }





/**/
.middle-section .super-sale {
    margin: 60px auto;


}
.exclusive {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    max-width: 1128px;
    min-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}
    .exclusive .exclusive-menu a {
        margin: 0 15px;
        text-decoration: none;
        color: #1D2224;
        font-weight: 600;
    }
    .exclusive .exclusive-menu a:focus {
        color: #FF324D;
    }
    .exclusive h1 {
        font-size: xx-large;
    }
.carousel {
    justify-content: center; 
}
    .carousel .previous, .carousel .next {
        align-self: center; 
    }
    .carousel .select {
        width: 250px;
        box-shadow: 0 0 11px rgba(0,0,0,0.1);
        background-color: #faf9f9;
        margin: 20px;
        position: relative;
    }
        .carousel .select .new {
            font-size: small;
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #FF9F00;
            color: white;
            padding: 2px 10px;
            border-radius: 1.2px;
        }

        .select img {
            width: 100%;
        }
        .select .info {
            padding: 10px;
        }
        .select .info div {
            margin: 7px 0;
        }
        .select .info h4 {
            margin: 0;
        }
        .select .info .price {
            color: red;
            font-weight: bolder;
        }
        .select .info .old-price {
            text-decoration: line-through;
            color: rgb(128, 128, 128);
        }
        .select .info .off {
            color: rgb(29, 185, 29);
        }

        .select .info .select-price {
            display: flex;
        }
        .select .info .select-price div {
            margin: 0 5px;
        }
        .select .info .rating .checked {
            color: gold;
        }
        .select .info .rating span {
            color: #8F95A7;
        }

/**/
.middle-section .super-sale {
    text-align: center;
    margin: 60px 0;
}

    .middle-section .super-sale img {
        width: 540px;
        text-align: center;
        margin: 20px;
    }

.middle-section .flash-sale {
    margin: 50px -250px;
    text-align: center;
    margin-bottom: 30px;
}

    .middle-section .flash-sale img {
        width: 450px;
        margin: 20px 10px;
    }


/* PLEASE STYLE BELLOW THIS CHUNK  */

/* WHOO ADDED CODE HERE ? I REMOVED IT  */


/* PLEASE STYLE BELLOW THIS CHUNK  */

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.languagebar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flag {
    border-radius: 10px;
}

/* .{
    justify-content: space-evenly;
} */


   
   /*FOOTER SECTION PLEASE DON'T MODIFY */
   /*************************************/
   /* footer style */

   footer {
    display: flex;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: #9A9897;
}

.subscribe-bar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #1D2224;
    text-align: center;

    /*Centering horizontally in flex */
    justify-content: center;
    /*Centering vertically in flex */
    align-items: center;

}

.subscribe-bar h3 {
    color: white;
    margin: 20px;
}

.subscribe-bar #subscribe {
    padding-left: 100px;
}

.subscribe-bar #email-input,
.subscribe-bar #subscribe-btn {
    height: 40px;
}

.subscribe-bar #email-input {
    padding-left: 10px;
}

.subscribe-bar #subscribe-btn {
    width: 100px;
    background-color: #FF324D;
    color: white;
    border: none;
}

.footer-container {
    margin: 0 auto;
}

.footer-container>div {
    width: 80%;
}

.links-container,
.services,
.social-links {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}

.useful-links>div,
.my-account>div {
    margin-bottom: 10px;
}

.links-container a:hover {
    transition:0.2s;
    color: #FF596A;
}
.links-container a {
    transition:0.2s;
}

.business-info {
    width: 25%;
    color: #9A9897;

}

.business-info .icons {
    margin-right: 20px;
}

.business-info div {
    margin: 15px auto;
}

.business-info,
.useful-links,
.my-account,
.instagram {
    font-size: smaller;
}

.instagram img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    /*cropping*/
}

.services>div {
    width: 30%;
    text-align: center;
}

.services i {
    font-size: 40px;
    color: #FF596A;
    padding: 20px;
    border-radius: 100%;
}

.services i:hover {
    animation-name: jiggle;
    animation-duration: 0.5s;
}

@keyframes jiggle {
    30% {transform:rotate(15deg);}
    60% {transform:rotate(-10deg);}
    90% {transform:rotate(5deg);}
    100% {transform:rotate(0deg);}
}
.social-links .icons i {
    padding: 10px;
    color: white;
}

.icons .fa-facebook {
    background-color: #3B5998;

}

.icons .fa-twitter {
    background-color: #00ACEE;
}

.icons .fa-google-plus {
    background-color: #DD4B39;
}

.icons .fa-youtube {
    background-color: #C4302B;
}

.icons .fa-instagram {
    background-color: #3F729B;
}

.payment .fa {
    /* padding: 5px; */
    font-size: 30px;
    color: white;
}

.payment .fa-cc-visa {
    background-color: rgb(0, 92, 174);

}

.payment .fa-cc-discover {
    background-color: rgb(241, 149, 75);

}

.payment .fa-cc-mastercard {
    background-color: rgb(231, 1, 51);

}

.payment .fa-cc-paypal {
    background-color: rgb(44, 88, 144);

}

.payment .fa-cc-amex {
    background-color: rgb(59, 173, 224)
}

/*****************************************/
/*END OF FOOTER SECTION                  */