@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding:0px;
    margin: 0px;
}

.all-categories {
    background-color: ;
    color: white;
    width: 160px;
    height: 30px;
    border: 1px solid black;
    padding: 20px;
    
}
.main-containter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 80%;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*border: 1px solid black;*/
    padding: 5%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.languagebar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flag{
    border-radius: 10px;
}
.{
    justify-content: space-evenly;
}






.search {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.categories input {
    width:300px;
    height: 30px;
    margin-left: 0;
    padding-left: 0;
}
.categories select {
    height: 36px;
    width: 120px;
}
   .phone a {
       color: black;
       font-size: large;
   }
   


   /*FOOTER SECTION PLEASE DON'T MODIFY */
   /*************************************/
   /* footer style */

footer {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-bar {
    /* flex-grow: 4; */

    width: 100%;
    /* height: 100px; */
    padding: 20px;
    display: flex;
    /*Centering horizontally in flex */
    justify-content: center;
    /*Centering vertically in flex */
    align-items: center;


    flex-wrap: wrap;
    flex-direction: row;
    background: #1D2224;
    text-align: center;
    /* padding-top: 20px; */
}

.subscribe-bar h3 {
    color: white;
    align-self: center;
    margin-right: 20px;
    padding-right: 50px;
}

.subscribe-bar #subscribe {
    padding-left: 100px;
}
.subscribe-bar #email-input, .subscribe-bar #subscribe-btn{
    /* width: 200px; */
    height: 40px;
}

.subscribe-bar #email-input {
    padding-left: 10px;
}

.subscribe-bar #subscribe-btn {
    width: 100px;
    background-color: #FF324D;
    color: white;
    border: none;
}

/*****************************************/
/*END OF FOOTER SECTION                  */