@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding:0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.all-categories {
    background-color: ;
    color: white;
    width: 160px;
    height: 30px;
    border: 1px solid black;
    padding: 20px;
    
}
.main-containter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 80%;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}


.upper-section {
    margin: 20px 215px;
    margin-left: 250px;
}

.dropdown-menu.nested {
    display: none;
    padding-left: 0;
    margin-left: 100px;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1000;
}
ul li a {
    text-decoration: none;
}
ul li {
    padding: 5px;
    list-style: none;
}

.dropdown a:hover + .dropdown-menu.nested {
    display: flex;
    
}




/* Middle Section (Max working) */

.middle-section {
    max-width: 1300px;
    margin: auto;
}
.exclusive, .carousel, .exclusive > .exclusive-menu {
    display: flex;
}
.exclusive {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    max-width: 1128px;
    min-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}
    .exclusive .exclusive-menu a {
        margin: 0 15px;
        text-decoration: none;
        color: #1D2224;
        font-weight: 600;
    }
    .exclusive .exclusive-menu a:focus {
        color: #FF324D;
    }
    .exclusive h1 {
        font-size: xx-large;
    }
.carousel {
    justify-content: center; 
}
    .carousel .previous, .carousel .next {
        align-self: center; 
    }
    .carousel .select {
        width: 250px;
        box-shadow: 0 0 11px rgba(0,0,0,0.1);
        background-color: #faf9f9;
        margin: 20px;
        position: relative;
    }
        .carousel .select .new {
            font-size: small;
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #FF9F00;
            color: white;
            padding: 2px 10px;
            border-radius: 1.2px;
        }

        .select img {
            width: 100%;
        }
        .select .info {
            padding: 10px;
        }
        .select .info div {
            margin: 7px 0;
        }
        .select .info h4 {
            margin: 0;
        }
        .select .info .price {
            color: red;
            font-weight: bolder;
        }
        .select .info .old-price {
            text-decoration: line-through;
            color: rgb(128, 128, 128);
        }
        .select .info .off {
            color: rgb(29, 185, 29);
        }

        .select .info .select-price {
            display: flex;
        }
        .select .info .select-price div {
            margin: 0 5px;
        }
        .select .info .rating .checked {
            color: gold;
        }
        .select .info .rating span {
            color: #8F95A7;
        }

/**/
.middle-section .super-sale {
    text-align: center;
    margin: 60px 0;
}

    .middle-section .super-sale img {
        width: 540px;
        text-align: center;
        margin: 20px;
    }

.middle-section .flash-sale {
    margin: 50px -250px;
    text-align: center;
    margin-bottom: 30px;
}

    .middle-section .flash-sale img {
        width: 550px;
        height: 300px;
        margin: 20px 10px;
    }


/* PLEASE STYLE BELLOW THIS CHUNK  */













/* footer style */
.subscribe-bar {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*border: 1px solid black;*/
    padding: 5%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.languagebar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flag{
    border-radius: 10px;
}
.{
    justify-content: space-evenly;
}






.search {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.categories input {
    width:300px;
    height: 30px;
    margin-left: 0;
    padding-left: 0;
}
.categories select {
    height: 36px;
    width: 120px;
}
   .phone a {
       color: black;
       font-size: large;
   }
   


   /*FOOTER SECTION PLEASE DON'T MODIFY */
   /*************************************/
   /* footer style */

footer {
    display: flex;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    /* Use inherit to get default styling of the document */
    color: inherit; 
}

.subscribe-bar {
    /* flex-grow: 4; */

    width: 100%;
    /* height: 100px; */
    padding: 20px;
    display: flex;
    /*Centering horizontally in flex */
    justify-content: center;
    /*Centering vertically in flex */
    align-items: center;


    flex-wrap: wrap;
    flex-direction: row;
    background: #1D2224;
    text-align: center;
    /* padding-top: 20px; */
}

.subscribe-bar h3 {
    color: white;
    align-self: center;
    margin-right: 20px;
    padding-right: 50px;
}

.subscribe-bar #subscribe {
    padding-left: 100px;
}
.subscribe-bar #email-input, .subscribe-bar #subscribe-btn{
    /* width: 200px; */
    height: 40px;
}

.subscribe-bar #email-input {
    padding-left: 10px;
}

.subscribe-bar #subscribe-btn {
    width: 100px;
    background-color: #FF324D;
    color: white;
    border: none;
}

.business-info {
    width: 40%;

}

.business-info .icons {
    display: inline-block;
    width:30px;
    text-align: center;
}

.business-info a {


}

.social-links {
    width: 100%;
    text-align: center;
}

/*****************************************/
/*END OF FOOTER SECTION                  */